@use '../partials/grid';
@use '../partials/color';
@use '../partials/mixin';
@use '../partials/breakpoint';
@use '../partials/placeholder';

:root {
  --bottom-block-background: linear-gradient(
      0deg,
      #{color.$medium-blue},
      #{color.$medium-blue}
  ),
  linear-gradient(89.8deg, #{color.$medium-blue} 0.16%, #8161fe 99.8%);
}

.bottom-section {
  position: relative;
  background: var(--bottom-block-background);
  mix-blend-mode: screen;

  @include grid.dimension($property: padding-top, $units: 10);
  @include grid.dimension($property: padding-bottom, $units: 11);

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(
        258.52deg,
        #3719ca -132.34%,
        rgba(55, 25, 202, 0) 22.57%
    ),
    linear-gradient(
        283.68deg,
        rgba(235, 174, 149, 0) 45.54%,
        rgba(235, 174, 149, 0.19) 130.68%
    ),
    linear-gradient(3.27deg, #{color.$xiketic} 13.68%, #262147 142.62%);
    box-shadow: 0 50.1359px 100.272px rgba(2, 2, 30, 0.2);
    border-radius: 50%;

    @include grid.dimension($property: top, $units: 6.5);
    @include grid.dimension($property: width, $from: 23, $to: 42);
    @include grid.dimension($property: height, $from: 23, $to: 42);
  }

  .bottom-title {
    margin-top: 0;
    position: relative;

    @include grid.units($property: margin-bottom, $count: 3);

    .white-text {
      color: color.$white;
    }
  }

  .bottom-link-wrapper {
    text-align: center;
  }

  .bottom-contact {
    --letter-spacing: #{grid.value($units: 0.5)};

    z-index: 2;
    color: color.$white;

    @include mixin.small-caps-text(var(--letter-spacing));
    @include mixin.blue-rectangle(var(--letter-spacing));

    &:hover {
      &::after {
        height: 100%;
      }
    }
  }
}

// This rule needs to be here, because it is used together with
// bottom block. So, we group it.
.footer-colored + .main-footer {
  background: var(--bottom-block-background);
  mix-blend-mode: screen;

  .socials a {
    border-color: color.$white;
  }
}
