@use '../partials/grid';
@use '../partials/mixin';
@use '../partials/color';
@use '../partials/breakpoint';
@use '../partials/placeholder';

.main-footer {
  @include grid.dimension($property: margin-bottom, $units: 2.5);

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      fill: color.$white;
      display: flex;
      justify-content: center;
      border-radius: 100%;

      @extend %hide-text;
      @extend %outlined;
      @include mixin.smooth();
      @include grid.dimension($property: width, $units: 3);
      @include grid.dimension($property: height, $units: 3);

      &:not(:last-of-type) {
        @include grid.dimension($property: margin-right, $units: 1.5);
      }

      &:hover {
        background: color.$white;
        fill: color.$medium-blue;
      }

      svg {
        height: 50%;
        width: 50%;
      }
    }
  }

  .with-love-title {
    text-align: center;
    font-weight: 300;

    &-brand {
      position: relative;
      font-weight: 700;

      &::after {
        content: url('star.png');
        position: absolute;
        display: block;
        // TODO: change to grid dimensions.
        width: 9px;
        height: 9px;
        right: -0.7em;
        top: -0.9em;
      }
    }
  }

  @include breakpoint.from(medium) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    > * {
      flex: 1;
    }
  }
}
