@use '../partials';
@use '../partials/breakpoint';
@use '../partials/grid';

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include grid.dimension($property: height, $count: 5);
  @include grid.dimension($property: padding-top, $count: 2);
  @include grid.dimension($property: padding-left, $count: 4);
  @include grid.dimension($property: padding-right, $count: 4);

  .logo-button {
    @include grid.dimension($from: 5, $to: 12);
    @extend %hide-text;
  }

  .right-column {
    display: flex;
    align-items: center;

    .contact-button {
      // TODO: adapt to units
      display: none;
      padding: 0.88em 3.11em;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 160%;
      letter-spacing: 0.5px;
      color: partials.$color-white;
      margin-right: 1.1em;
      border-radius: 100px;

      @extend %outlined;
      @include partials.mixin-smooth();

      &:hover {
        background: partials.$color-medium-blue;
        border-color: partials.$color-medium-blue;
      }

      @include partials.media-from(medium) {
        display: block;
      }
    }

    .menu-button {
      @extend %outlined;
      @include partials.mixin-smooth();
      @include grid.dimension($property: width, $count: 3);
      @include grid.dimension($property: height, $count: 3);
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        background: partials.$color-medium-blue;
        border-color: partials.$color-medium-blue;
      }

      & span {
        height: 2px;
        border-radius: 100px;
        background: partials.$color-white;
        width: 14px;
        display: block;

        &:nth-child(2) {
          width: 20px;
        }

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
}
