@use 'sass:map';

// [Why such values?](https://flaviocopes.com/css-breakpoints/)
$_breakpoints: (
  small: 640px,
  medium: 768px,
  large: 1024px,
  xl: 1280px,
  xxl: 1536px,
  max: 1680px,
);

@function get($name) {
  @return map.get($_breakpoints, $name);
}

/// Wrap content into media query starting from
/// $type keyword. If type is not recognizable,
/// then content is meant for `0px` and up.
///
/// @param {"small" | "medium" | "large" | "xl" | "xxl"} $type - name of breakpoint.
@mixin from($type) {
  @if map.has-key($_breakpoints, $type) {
    @media (min-width: get($type)) {
      @content;
    }
  } @else {
    @content;
  }
}
