@use 'breakpoint';

:root {
  --coef-text: 0.9; // for regular text which size less than 20px font-size
  --coef-indent: 0.5; // for margin and padding
  --coef-title: 0.6; // for title font-size
  --coef-size: 0.7; // for element width, height

  @include breakpoint.from(medium) {
    --coef-indent: 0.7;
    --coef-title: 0.8;
    --coef-size: 0.8;
  }

  @include breakpoint.from(large) {
    --coef-indent: 1;
    --coef-title: 1;
    --coef-text: 1;
    --coef-size: 1;
  }

  @include breakpoint.from(xxl) {
    --coef-indent: 1.25;
    --coef-title: 1.25;
    --coef-text: 1.25;
    --coef-size: 1.25;
  }
}

$text: var(--coef-text);
$indent: var(--coef-indent);
$title: var(--coef-title);
$size: var(--coef-size);
