@use 'color';
@use 'mixin';

%inherit-font {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/// Hides text from button with image.
%hide-text {
  display: flex;
  align-items: center;
  font-size: 0;
}

%center-block {
  margin-left: auto;
  margin-right: auto;
}
