@use 'color';

%outlined {
  border: 1.25px solid color.$space-cadet;
}

%inherit-font {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

/// Hides text from button with image.
%hide-text {
  display: flex;
  align-items: center;
  text-indent: -100vw;
}
