@use 'common'; // Bug?
@use 'components';
@use 'partials';

@mixin fluid-label($shift-size, $selectors...) {
  @each $selector in $selectors {
    #{$selector} {
      + label {
        top: if($selector == textarea, 1.45em, 50%);
        transform: translate(#{$shift-size}, if($selector == textarea, 0, -50%));
      }

      &:focus,
      &:not(:placeholder-shown) {
        + label {
          transform: translate(0, if($selector == textarea, -70%, -120%));
          font-size: 0.9rem;
        }
      }
    }
  }
}

main {
  --elements-gap: 2em;

  @include partials.mixin-main-content(840px);
}

.info-section {
  .left-column {
    margin-bottom: 1.7em;

    font: {
      family: 'Gramatika';
      weight: 900;
      size: 1.5rem;
    }

    p {
      margin-bottom: 0.4em;
    }
  }

  .right-column {
    margin: 0;
    letter-spacing: 0.5px;
    font-weight: 300;
  }

  @include partials.media-from(medium) {
    display: flex;

    @include partials.mixin-columns(
      ('.left-column', '.right-column'),
      $gap: var(--elements-gap)
    );

    .left-column {
      margin-bottom: 0;

      p {
        margin-top: 0;
      }
    }
  }
}

.contact-form {
  --form-margin: 5em;
  --inset-margin: 1em;

  margin: var(--form-margin) 0;

  fieldset {
    &:first-child {
      margin-bottom: 3em;
    }

    legend {
      letter-spacing: 10px;
      text-transform: uppercase;
      font-size: 0.9rem;
      margin-bottom: 1.1em;
    }

    .input-wrapper:not(:last-child) {
      margin-bottom: 1em;

      @include partials.media-from(medium) {
        margin-bottom: 0;
      }
    }
  }

  .input-wrapper {
    position: relative;
    font-weight: 300;

    &.message-wrapper {
      display: flex;
      flex-direction: column;

      @include partials.mixin-smooth();

      .message-section-footer {
        @include partials.mixin-smooth();
      }
    }

    label {
      transform-origin: left top;
      position: absolute;
      left: var(--inset-margin);
      color: partials.$color-roman-silver;
      letter-spacing: 0.5px;

      @include partials.mixin-smooth(
        (
          property: transform,
          duration: 0.5s,
        ),
        (
          property: font-size,
          duration: 0.5s,
        )
      );
    }

    textarea,
    input:not([type='submit'], [type='file']) {
      padding: 2em var(--inset-margin) var(--inset-margin) var(--inset-margin);
      background: transparent;
      width: 100%;
      outline: none;

      @extend %inherit-font;
      @include partials.mixin-smooth();

      &:focus,
      &:not(:placeholder-shown) {
        background: partials.$color-white;

        ~ .message-section-footer {
          @include partials.mixin-smooth();
          background: partials.$color-white;
        }
      }
    }

    &.message-wrapper,
    input:not([type='submit'], [type='file']) {
      @extend %outlined;
    }

    textarea {
      width: 100%;
      resize: none;
      min-height: 14em;
    }

    @include fluid-label(
      var(--inset-margin),
      textarea,
      "input:not([type='submit'], [type='file'])"
    );
  }

  @include partials.media-from(medium) {
    @include partials.mixin-columns(
      ('.name-input-wrapper', '.company-input-wrapper'),
      $gap: var(--elements-gap)
    );

    .email-input-wrapper {
      margin-top: var(--elements-gap);
    }
  }

  .message-section {
    &-footer {
      .attach-button {
        display: none;

        @include partials.media-from(medium) {
          display: block;
          margin: 0 0 var(--inset-margin) calc(var(--inset-margin) * 2);
          background: partials.$color-space-cadet;

          @include partials.mixin-smooth();
          @include partials.mixin-rounded(3em) {
            svg {
              height: 100%;
            }
          }

          &:hover {
            background-color: partials.$color-medium-blue;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.send-message-button {
  margin: var(--form-margin) auto 0;
}
