@use 'swiper/swiper';

@use 'common';
@use 'components';
@use 'partials/grid';
@use 'partials/color';
@use 'partials/mixin';
@use 'partials/breakpoint';
@use 'partials/placeholder';

.section {
  margin-right: auto;
  margin-left: auto;

  @include grid.dimension($property: margin-bottom, $units: 10);
  @include grid.dimension($property: max-width, $from: 5, $to: 60, $max: 90vw);
}

.advantage-block {
  display: grid;

  @include breakpoint.from(small) {
    grid: repeat(3, auto) / repeat(2, 1fr);

    @include grid.dimension($property: row-gap, $units: 2);
    @include grid.dimension($property: column-gap, $units: 3);
  }

  @include breakpoint.from(large) {
    grid:
      repeat(2, auto) / grid.value($from: 5, $to: 27) grid.value($from: 28, $to: 46)
      grid.value($from: 47, $to: 60);
    gap: 0;
  }

  .advantage-block-item {
    text-align: center;

    @include grid.dimension($property: margin-bottom, $units: 2);

    @include breakpoint.from(small) {
      &:first-of-type {
        grid-column: 1 / span 2;
      }
    }

    @include breakpoint.from(large) {
      text-align: left;

      @include grid.dimension($property: width, $units: 14);
    }

    &.main {
      .advantage-quote {
        margin-top: 0;
        margin-bottom: 0;
      }

      .contact-link {
        line-height: 1.25;
        text-transform: uppercase;

        @include grid.dimension($property: font-size, $units: 0.7, $min: 14px);
        @include grid.dimension($property: letter-spacing, $units: 0.5);
        @include grid.dimension($property: margin-top, $units: 2);
      }

      @include breakpoint.from(large) {
        grid-row: 1 / span 2;
        grid-column: 1 / 2;

        @include grid.units($property: width, $from: 5, $to: 20);
      }
    }

    .advantage-icon {
      @include grid.dimension($property: width, $units: 3, $min: 40px);
      @include grid.dimension($property: height, $units: 3, $min: 40px);
    }

    .advantage-item-title {
      font-family: 'Gramatika', sans-serif;
      font-weight: 900;

      @include grid.dimension($property: font-size, $units: 1.2, $min: 17px);
      @include grid.dimension($property: margin-top, $units: 1);
      @include grid.dimension($property: margin-bottom, $units: 1);
    }

    .advantage-text {
      margin: 0;
      letter-spacing: 0.5px;
      opacity: 0.75;
    }
  }
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;

  @include grid.dimension($property: margin-bottom, $units: 4);

  @include breakpoint.from(large) {
    overflow-x: initial;
  }
}

.flow-pagination-wrapper {
  @include breakpoint.from(large) {
    @include grid.dimension($property: width, $from: 10, $to: 55);
  }
}

.bullet {
  &.active {
    color: color.$white;

    .bullet-text::after {
      height: 50%;
    }
  }

  &-text {
    --letter-spacing: 4px;

    @include mixin.small-caps-text(var(--letter-spacing));
    @include mixin.blue-rectangle($spacing: var(--letter-spacing), $height: 0);
  }
}

.flow-bullet {
  color: color.$purple-navy;

  &__number {
    text-align: center;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 1.25px solid color.$space-cadet;
    position: relative;

    @include mixin.smooth();
    @include grid.dimension($property: width, $units: 3);
    @include grid.dimension($property: height, $units: 3);
    @include grid.dimension($property: margin-bottom, $units: 2);
  }

  &:not(:last-child) {
    @include grid.dimension($property: margin-right, $units: 2);
  }

  &:not(:last-child) &__number::after {
    content: url('svg/dots.svg');
    position: absolute;
    width: 100%;

    @include grid.dimension($property: right, $units: -5);

    @include breakpoint.from(large) {
      @include grid.units($property: right, $count: -4);
    }
  }

  &:nth-child(2) &__number::after,
  &:nth-child(3) &__number::after {
    @include breakpoint.from(large) {
      @include grid.units($property: right, $count: -4.5);
    }
  }
}

.slide {
  position: relative;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;

  @include breakpoint.from(medium) {
    @include grid.dimension($property: width, $from: 10, $to: 55);
  }
}

.flow-slide {
  @include grid.dimension($property: margin-top, $units: 2);
  @include grid.dimension($property: padding-top, $units: 2);
  @include grid.dimension($property: padding-bottom, $units: 2);
  @include grid.dimension($property: padding-right, $units: 1);
  @include grid.dimension($property: padding-left, $units: 1);

  @include breakpoint.from(medium) {
    @include grid.units($property: padding-top, $count: 6);
    @include grid.units($property: padding-bottom, $count: 5);
    @include grid.units($property: padding-left, $count: 5);
    @include grid.units($property: padding-right, $count: 5);
  }

  &.swiper-slide-active {
    /* purgecss ignore current */
    background: linear-gradient(
      110.72deg,
      rgba(132, 164, 255, 0.2) 6.69%,
      rgba(2, 2, 30, 0) 85.43%
    );
  }

  &-thumb {
    left: 50%;
    position: absolute;
    background: color.$medium-blue;
    border-radius: 50%;

    @include grid.dimension($property: top, $units: -2);
    @include grid.dimension($property: width, $units: 4);
    @include grid.dimension($property: height, $units: 4);
    @include grid.dimension($property: padding, $units: 1);
  }
}

.navigation-wrapper {
  display: none;

  @include breakpoint.from(medium) {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    @include grid.dimension($property: margin-top, $units: -1.5);

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      padding: 0;

      @include mixin.outlined();
      @include grid.dimension($property: width, $units: 3);
      @include grid.dimension($property: height, $units: 3);

      svg {
        @include grid.dimension($property: width, $units: 0.5, $min: 9px);
      }
    }
  }
}

.tech-pagination-wrapper {
  @include breakpoint.from(large) {
    @include grid.dimension($property: width, $from: 16, $to: 47);
  }
}

.tech-bullet {
  color: color.$white;
  white-space: nowrap;

  &:not(:last-child) {
    @include grid.dimension($property: margin-right, $units: 2);
  }
}

.tech-slide {
  justify-content: space-around;
  flex-wrap: wrap;
}

.tech-item {
  color: color.$white;

  @extend %inherit-font;

  &:not(:last-of-type) {
    @include grid.dimension($property: margin-right, $units: 1);
    @include grid.dimension($property: margin-bottom, $units: 1);
  }

  svg {
    display: block;
    margin-right: auto;
    margin-left: auto;

    @include grid.dimension($property: margin-bottom, $units: 1);
    @include grid.dimension($property: width, $units: 2);
    @include grid.dimension($property: height, $units: 2);
  }
}
