@use 'swiper/swiper';
@use 'swiper/components/navigation/navigation';

@use 'common';
@use 'components';
@use 'partials';

.section {
  margin-bottom: min(200px, 10em);
}

.advantage-block {
  @include partials.media-from(small) {
    display: grid;
    grid: repeat(3, auto) / repeat(2, 1fr);
    column-gap: min(100px, calc(7.8vw / 1.62));

    &-item {
      &:first-child {
        grid-area: 1 / 1 / 2 / span 2;
      }
    }
  }

  @include partials.media-from(medium) {
    &-item {
      &:first-child {
        // We also cover 1 auto added row to handle
        // fifth element.
        grid-area: 1 / 1 / span 4 / 2;
      }

      .advantage-quote {
        margin-top: 0;
      }
    }
  }

  @include partials.media-from(large) {
    grid-template-columns: 31% repeat(2, 1fr);
  }

  &-item {
    margin-bottom: 2.2em;

    @include partials.media-to(small) {
      text-align: center;
    }

    .advantage-quote {
      margin-bottom: 1.7em;

      @include partials.media-to(small) {
        text-align: center;
      }
    }

    .contact-link {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 10px;
      margin-bottom: 3em;
    }

    .advantage-icon {
      width: 60px;
      display: block;

      @include partials.media-to(small) {
        margin: 0 auto;
      }
    }

    .advantage-item-title {
      font: {
        size: 1.3rem;
        family: 'Gramatika';
        weight: 900;
      }
      margin: 1em 0 0 0;

      @include partials.media-to(small) {
        text-align: center;
      }
    }

    .advantage-text {
      font-weight: 300;
      letter-spacing: 0.5px;
      opacity: 0.75;

      @include partials.media-to(small) {
        text-align: center;
      }
    }
  }
}

.download-link {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: partials.$color-white;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 4em;

  @include partials.media-to(small) {
    justify-content: center;
  }

  .presentation-image {
    display: inline-block;
    margin-right: 1.7em;
  }

  span {
    width: min-content;
  }
}

.slider-wrapper {
  position: relative;
}

.swiper-container {
  max-width: 82%;
}

.swiper-wrapper {
  // Allow slide icon to be visible.
  margin-top: 4em;
}

.swiper-button-next {
  right: 1em;
}

.swiper-button-prev {
  left: 1em;
}

.slide {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.6rem;
  font-family: 'Gramatika';
  font-weight: 900;
  text-align: center;
  background-image: linear-gradient(
    110.72deg,
    rgba(132, 164, 255, 0.2) 6.69%,
    rgba(2, 2, 30, 0) 85.43%
  );
  padding: 3.6em;
  position: relative;

  &::before {
    --size: min(4.4em, 80px);

    font-size: 1rem;
    content: url('svg/research_icon.svg');
    display: block;
    position: absolute;
    top: calc(var(--size) / 2 * -1);
    left: 50%;
    transform: translateX(-50%);
    background: partials.$color-medium-blue center center;

    @include partials.mixin-rounded(4.4em, 80px);
  }
}

.navigation-wrapper {
  // Size of button.
  --size: min(3.3em, 60px);

  position: absolute;
  top: calc(50% + var(--size) / 2);
  width: 100%;

  .navigation-button {
    &::after {
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white-color);

      @extend %outlined;
      @include partials.mixin-rounded(3.3em);
      @include partials.mixin-smooth();
    }

    &:hover::after {
      background: partials.$color-medium-blue;
      border-color: partials.$color-medium-blue;
    }
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  position: initial;

  &-bullet {
    display: flex;
    flex-direction: column;

    i {
      font-size: 1.22rem;

      @include partials.mixin-rounded(2.72em);
    }

    &:not(:last-child) {
      margin-right: 1em;

      i::after {
        content: url('svg/dots.svg');
      }
    }
  }
}
