@use '../partials';

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  --light-image: radial-gradient(
    41.38% 40.85% at 56.08% 46.24%,
    #{partials.$color-medium-blue} 0%,
    rgba(55, 25, 202, 0) 100%
  );
  // Size of width and height relative to page width -> light width -> light height
  --light-ratio: 0.9;
  --light-width: calc(100% * var(--light-ratio));
  --light-height: calc(var(--light-width) * var(--light-ratio));

  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background: partials.$color-xiketic url('svg/background.svg');
  font-family: 'Sofia Pro', sans-serif;
  color: partials.$color-white;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: var(--light-width);
    height: var(--light-height);
    background: var(--light-image);
    opacity: 0.4;
    filter: blur(250px);
  }

  &::before {
    --light-vertical-hidden-ratio: 0.7;
    --light-horizontal-hidden-ratio: 0.17;

    left: calc(-100% * var(--light-horizontal-hidden-ratio));
    top: calc(var(--light-height) * var(--light-vertical-hidden-ratio) * -1);
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

button,
input[type='submit'] {
  background: transparent;
  border: none;
  cursor: pointer;

  @extend %inherit-font;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

textarea {
  background: transparent;
  border: none;
  outline: none;

  @extend %inherit-font;
}

.text-gradient {
  background-image: partials.$color-text-gradient;
  background-clip: text;
  color: transparent;
}

.big-title {
  text-align: center;
  font: {
    size: 3rem;
    family: 'Gramatika';
    weight: 900;
  }
  line-height: 100%;
  letter-spacing: -2px;
  margin: 1.1em auto;

  @extend .text-gradient;

  @include partials.media-from(small) {
    font-size: 5rem;
  }
}

.black-text {
  font: {
    size: 1.6rem;
    family: 'Gramatika';
    weight: 900;
  }
}

.rectangular-button {
  display: block;
  color: partials.$color-white;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 0.8rem;
  position: relative;
  padding: 0.5em 1em;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px;
    right: -20px;
    transition: height 0.2s;
    display: block;
    height: 50%;
    background: partials.$color-medium-blue;
    z-index: -1;
  }

  &:hover::before {
    height: 100%;
  }
}

.mail-link {
  position: relative;
  display: inline-block;

  @extend .text-gradient;

  &::after {
    content: '';
    position: absolute;
    bottom: -0.3em;
    left: 0;
    display: block;
    height: 1px;
    width: 45%;
    background-image: partials.$color-text-gradient;

    @include partials.mixin-smooth(
      (
        property: width,
        duration: 0.25s,
      )
    );
  }

  &:hover::after {
    width: 100%;
  }
}
