@use '../partials/grid';
@use '../partials/mixin';
@use '../partials/color';
@use '../partials/breakpoint';
@use '../partials/placeholder';

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  --light-image: radial-gradient(
    41.38% 40.85% at 56.08% 46.24%,
    #{color.$medium-blue} 0%,
    rgba(55, 25, 202, 0) 100%
  );
  // Size of width and height relative to page width -> light width -> light height
  --light-ratio: 0.9;
  --light-width: calc(100% * var(--light-ratio));
  --light-height: calc(var(--light-width) * var(--light-ratio));

  color: color.$white;
  margin: 0;
  padding: 0;
  position: relative;
  background: color.$xiketic url('svg/background.svg');
  font-family: 'Sofia Pro', sans-serif;

  @include grid.dimension($property: font-size, $units: 0.9, $min: 16px);

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: var(--light-width);
    height: var(--light-height);
    background: var(--light-image);
    opacity: 0.4;
    filter: blur(250px);
  }

  &::before {
    --light-vertical-hidden-ratio: 0.7;
    --light-horizontal-hidden-ratio: 0.17;

    left: calc(-100% * var(--light-horizontal-hidden-ratio));
    top: calc(var(--light-height) * var(--light-vertical-hidden-ratio) * -1);
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

input {
  border: none;
}

button,
input[type='submit'] {
  background: transparent;
  border: none;
  cursor: pointer;

  @extend %inherit-font;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

textarea {
  background: transparent;
  border: none;
  outline: none;

  @extend %inherit-font;
}

.site-body {
  min-height: 100vh;
  max-width: breakpoint.get(max);
  margin-right: auto;
  margin-left: auto;
}

.text-gradient {
  background-image: color.$text-gradient;
  background-clip: text;
  color: transparent;
}

.big-title {
  text-align: center;
  font: {
    family: 'Gramatika';
    weight: 900;
  }
  line-height: 1;
  letter-spacing: -2px;
  margin-right: auto;
  margin-left: auto;

  @extend .text-gradient;
  @include grid.dimension($property: font-size, $units: 5);
  @include grid.dimension($property: margin-top, $units: 5);
  @include grid.dimension($property: margin-bottom, $units: 5);
}

.black-text {
  @include grid.dimension($property: font-size, $units: 1.5, $min: 18px);
  font: {
    family: 'Gramatika';
    weight: 900;
  }
}

.control-button {
  display: block;
  color: color.$white;
  background-color: color.$medium-blue;
  border-radius: 100%;
  text-transform: uppercase;

  @include grid.dimension($property: font-size, $units: 0.7, $min: 10px);
  @include grid.dimension($property: letter-spacing, $units: 0.5);

  span {
    @include grid.dimension($property: margin-right, $units: -0.5);
  }
}

.mail-link {
  position: relative;
  display: inline-block;

  @extend .text-gradient;

  &::after {
    left: 0;
    content: '';
    height: 1px;
    display: block;
    position: absolute;
    background-image: color.$text-gradient;

    @include grid.dimension($property: bottom, $units: -0.3);
    @include grid.dimension($property: width, $from: 12, $to: 18);
    @include mixin.smooth(
      (
        property: width,
        duration: 0.25s,
      )
    );
  }

  &:hover::after {
    width: 100%;
  }
}
