@use '../partials';

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  /*
   * Use `clamp(16px, 1.375 * 1vw, 22px)` 
   * when there will no intention to support
   * Safari 12.2.
   */
  font-size: max(16px, min(1.375 * 1vw, 22px));
  line-height: 160%;
}

body {
  --light-image: radial-gradient(
    41.38% 40.85% at 56.08% 46.24%,
    #{partials.$color-medium-blue} 0%,
    rgba(55, 25, 202, 0) 100%
  );
  // Size of width and height relative to page width -> light width -> light height
  --light-ratio: 0.9;
  --light-width: calc(100% * var(--light-ratio));
  --light-height: calc(var(--light-width) * var(--light-ratio));

  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background: partials.$color-xiketic url('svg/background.svg');
  font-family: 'Sofia Pro', sans-serif;
  color: partials.$color-white;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: var(--light-width);
    height: var(--light-height);
    background: var(--light-image);
    opacity: 0.4;
    filter: blur(250px);
  }

  &::before {
    --light-vertical-hidden-ratio: 0.7;
    --light-horizontal-hidden-ratio: 0.17;

    left: calc(-100% * var(--light-horizontal-hidden-ratio));
    top: calc(var(--light-height) * var(--light-vertical-hidden-ratio) * -1);
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

button,
input[type='submit'] {
  background: transparent;
  border: none;
  cursor: pointer;

  @extend %inherit-font;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

textarea {
  background: transparent;
  border: none;
  outline: none;

  @extend %inherit-font;
}
