// Sofia Pro

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro Light'), local('SofiaProLight'),
    url('Sofia Pro/Sofia-Pro - Light.woff2') format('woff2'),
    url('Sofia Pro/Sofia-Pro - Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro Regular'), local('SofiaProRegular'),
    url('Sofia Pro/Sofia-Pro - Regular.woff2') format('woff2'),
    url('Sofia Pro/Sofia-Pro - Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro SemiBold'), local('SofiaProSemiBold'),
    url('Sofia Pro/Sofia-Pro - SemiBold.woff2') format('woff2'),
    url('Sofia Pro/Sofia-Pro - SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro Bold'), local('SofiaProBold'),
    url('Sofia Pro/Sofia-Pro - Bold.woff2') format('woff2'),
    url('Sofia Pro/Sofia-Pro - Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Gramatika

@font-face {
  font-family: 'Gramatika';
  src: local('Gramatika Black'), local('Gramatika-Black'),
    url('Gramatika/Gramatika - Black.woff2') format('woff2'),
    url('Gramatika/Gramatika - Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: local('Gramatika Bold'), local('Gramatika-Bold'),
    url('Gramatika/Gramatika - Bold.woff2') format('woff2'),
    url('Gramatika/Gramatika - Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: local('Gramatika Regular'), local('Gramatika-Regular'),
    url('Gramatika/Gramatika - Regular.woff2') format('woff2'),
    url('Gramatika/Gramatika - Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Sofia Pro Soft

@font-face {
  font-family: 'Sofia Pro Soft';
  src: local('Sofia Pro Soft Bold'), local('SofiaProSoftBold'),
    url('Sofia Pro Soft/Sofia-Pro-Soft - Bold.woff2') format('woff2'),
    url('Sofia Pro Soft/Sofia-Pro-Soft - Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro Soft';
  src: local('Sofia Pro Soft Regular'), local('SofiaProSoftRegular'),
    url('Sofia Pro Soft/Sofia-Pro-Soft - Regular.woff2') format('woff2'),
    url('Sofia Pro Soft/Sofia-Pro-Soft - Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro Soft';
  src: local('Sofia Pro Soft Light'), local('SofiaProSoftLight'),
    url('Sofia Pro Soft/Sofia-Pro-Soft - Light.woff2') format('woff2'),
    url('Sofia Pro Soft/Sofia-Pro-Soft - Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
